# Xcode
xcuserdata/
DerivedData/
build/
*.hmap
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcuserstate
*.xcscmblueprint
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Package.resolved
.swiftpm/

# CocoaPods
# Pods/

# Carthage
Carthage/Build/

# macOS
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Archives and signing
*.ipa
*.dSYM.zip
*.dSYM
*.mobileprovision
*.cer
*.p12

# Logs
*.log
